<style>
 
</style>

<h1>{{pageHeading}}</h1>
<p><a href="/">Home</a> | <a href="/other">Other</a> | <a href="/favorites" style = "color:black; text-decoration: none;" >Favorites</a></p>

<ul>
    {{#each favorites}}
    <li><a href>{{this.name}}</a></li>
    {{/each}}
</ul>

